.more-submenu {
  width: 13rem;
  position: absolute;
  top: 67px;
  list-style: none;
  text-align: start;
}

.more-submenu li {
  background: #000;
  cursor: pointer;
  color: #fff;
}

.more-submenu li a:hover {
  background: red;
  color: #fff;
}

.more-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}
